@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: rgba(245, 245, 245, 1);
    font-family: "Fira Sans", serif;
}
*{
    margin: 0;
    padding: 0;
}
/* shared classes */
.white{
    background-color: rgba(255, 255, 255, 1);
}

/* header section style */

nav{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}
nav h3{
    font-weight: bold;
    font-size: 32px;
}
.sign-in_btn{
    color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    padding: 15px;
    border: 1px solid rgba(0, 106, 80, 1);
}
main{
    max-width: 80%;
    margin: 0 auto;
}
.intro-section{
    background-color: rgba(198, 228, 214, 1);
    display: flex;
    justify-content: space-between;
    gap:65px;
    padding: 60px 160px;
    border-radius: 24px;
}
.description-section{
    width: 60%;
    text-align: left;
}
.nav-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight:400;
}
.nav-des{
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}
.img-section{
    text-align: right;
}
.explore{
    margin-top: 50px;
    background-color: rgba(0, 106, 80, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
    padding: 17px;
    border-radius: 8px;
    border:none;
}

/* pillar section starts  */
.pillars{
    margin-top: 80px;
}
.pillars-title{
    margin-bottom: 32px;
}
.item-container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.item{
    border-radius: 16px;
    max-width: 300px;
    padding: 24px;
}
.item-title{
    margin-top: 20px;
}
.item-des{
    margin-top: 10px;
}

/* vision section style stars here */

.vision{
    margin-top: 80px;
}
.vision-title{
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: bold;
}
.v-pera{
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}
.v-container{
    margin-top: 32px;
    gap: 24px;
    display: flex;
    justify-content: space-around;
    
}
.v-item-1{
    background-color: rgba(84, 144, 245, 0.2);
    width: 410px;
    border-radius: 16px;
    padding: 32px;
    /* margin: 24px 0px; */
}
.v-item-2{
    background-color: rgba(198, 228, 214, 1);
    width: 410px;
    border-radius: 16px;
    padding: 32px;
}
.v-item-3{
    background-color: rgba(247, 235, 207, 1);
    width: 410px;
    border-radius: 16px;
    padding: 32px;
}
.v-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px;
}
.v-des{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}
.v-btn{
    margin-top: 24px;
    color: rgba(255, 255, 255, 1);
    padding: 20px;
    border: none;
    border-radius: 8px;
}
.one{
    background-color:rgba(84, 144, 245, 1);
}
.two{
    background-color:rgba(9, 161, 92, 1);
}
.three{
    background-color:rgba(255, 194, 57, 1); 
}
.yunus{
    margin-top: 32px;
    border-radius: 16px;
}
.y-container{
    background: url('quote-bg.png');
    padding: 48px 24px;
    /* margin: 48px 0px; */
}
.y-pera{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    /* margin-bottom: 10px; */
}
.y-title{
    margin: 10px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
}

/* opinion section styles */

.opinion{
    margin: 80px 0px;
    /* margin-top: 80px; */
}
.o-main-title{
    font-weight: bold;
    font-size: 40px;
}
.o-container{
    margin-top: 24px;
    border-radius: 16px;
    padding: 32px;
}
.o-items-head{
    display: flex;
    justify-content: space-between;
    color: rgba(14, 14, 14, 1);
    background-color: rgba(198, 228, 214, 1);
    font-size: 20px;
    font-weight: 600;
    border: 1px solid black;
    padding: 24px;
}
.o-items{
    font-size: 16px;
    font-weight: 600;
    border: 1px solid black;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}
.option{
    width: 200px;
}
.option select{
    font-size: 20px;
}

/* recent section styles */

.recent p{
    color: rgba(14, 14, 14, 0.7);
}
.recent h2{
    font-size: 40px;
}
.r-pera{
    margin: 20px 0px;
}
.news{
    border-radius: 24px;
    padding: 48px;
    display: flex;
    gap:32px;
    margin: 24px 0px;
}
.n-img img{
    border-radius: 24px;
}
.news-des img, p{
    margin: 20px 0px;
}
.read{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    padding: 13px;
    border: none;
    border-radius: 8px;
}